<div class="crm-container">
  <h1 crm-page-title>{{ ts('Edit %1', {1: inlayType.name })}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <!--
      <div class="help">
      <p>{{ts('To view more debugging information, edit the URL and include "?angularDebug=1".')}}</p>
      </div>
    -->

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('full_name')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('Our lovely signup form')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.questionText', title: ts('Question text')}">
      <textarea
        crm-ui-id="inlayForm.questionText"
        name="questionText"
        ng-model="inlay.config.questionText"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.smallprintHTML', title: ts('Text by submit button, e.g. explaining GDPR')}">
      <textarea
        crm-ui-id="inlayForm.smallprintHTML"
        crm-ui-richtext
        name="smallprintHTML"
        ng-model="inlay.config.smallprintHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.buttonText', title: ts('Signup button text')}">
      <input
        crm-ui-id="inlayForm.buttonText"
        name="buttonText"
        ng-model="inlay.config.buttonText"
        class="crm-form-text"
        placeholder="{{ts('e.g. Sign up')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.webThanksHTML', title: ts('Thank you text for website')}">
      <textarea
        crm-ui-id="inlayForm.webThanksHTML"
        crm-ui-richtext
        name="webThanksHTML"
        ng-model="inlay.config.webThanksHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-accordion="{title: ts('Follow-up')}">
      <div crm-ui-field="{name: 'inlayForm.followupText', title: ts('“May we follow up...” wording')}">
        <textarea
          crm-ui-id="inlayForm.followupText"
          name="followupText"
          ng-model="inlay.config.followupText"
          class="crm-form-text"
          ></textarea>
      </div>

      <div crm-ui-field="{name: 'inlayForm.followupMessageFromID', title: ts('From address')}">
          <select
            crm-ui-select="{allowClear:true, dropdownAutoWidth: true }"
            style="width: 100%"
            ng-model="inlay.config.followupMessageFromID"
            ng-options="i.value as i.label for i in fromAddresses"
            >
            <option value="">(default)</option>
          </select>
      </div>

      <p>You can map report titles to specific followup emails</p>
      <table class="crm-table"><thead><tr><th>Report Title</th><th>Follow up email</th><th>Delete</th></tr></thead>
        <tbody>
          <tr ng-repeat="(i, row) in inlay.config.followupMaps">
            <td>
              <input
                ng-if="i > 0"
                type="text"
                style="width: 100%;"
                required
                ng-model="inlay.config.followupMaps[i].reportTitle"
                />
              <div ng-if="i === 0">Default</div>
            </td>
            <td>
              <select
                  crm-id="'followup' + i"
                  style="width: 100%"
                  crm-ui-select="{allowClear:true, dropdownAutoWidth: true }"
                  ng-model="inlay.config.followupMaps[i].messageTplID"
                  ng-options="msgTpl.id as ellipsify(msgTpl.msg_title + ' | ' + msgTpl.msg_subject) for msgTpl in messageTpls"
                  >
                <option value="">(do not send a followup)</option>
                </select>
              <div ng-show="i === 0 && (!row.messageTplID) && inlay.config.followupText.length > 0" class="crm-message crm-error error message">
                As you have specified follow up text, you must choose the default message template.
              </div>
            </td>
            <td>
              <a ng-if="i > 0" href ng-click="inlay.config.followupMaps.splice(i, 1)">Delete</a>
          </tr>
          <tr>
            <td><a href ng-click="inlay.config.followupMaps.push({reportTitle: '', messageTplID : ''})" >Add</a></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>
    <br />

    <!--
      <pre>{{ inlay.config | json }}</pre>
      <div crm-ui-accordion="{title: ts('Greeting')}">
        <p ng-show="$ctrl.myContact.first_name">{{ ts('Hello, %1.', {1: $ctrl.myContact.first_name}) }}</p>

        <p ng-show="!$ctrl.myContact.first_name">{{ ts('Hello, stranger.') }}</p>
      </div>

      <div crm-ui-accordion="{title: ts('About Me')}">
        <div class="crm-block">
          <div class="crm-group">
            <div crm-ui-field="{name: 'myForm.first_name', title: ts('Name'), help: hs('full_name')}">
              <input
              crm-ui-id="myForm.first_name"
              name="first_name"
              ng-model="$ctrl.myContact.first_name"
              class="crm-form-text"
              placeholder="{{ts('First')}}"
              />
              <input
              crm-ui-id="myForm.last_name"
              name="last_name"
              ng-model="$ctrl.myContact.last_name"
              class="crm-form-text"
              placeholder="{{ts('Last')}}"
              />
            </div>
          </div>
        </div>
        -->

        <div>
          <button ng-click="save()">{{ts('Save')}}</button>
        </div>
      </div>

  </form>

</div>

