<div class="crm-container">
  <h1 crm-page-title>{{ ts('Edit %1', {1: inlayType.name })}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <!--
      <div class="help">
      <p>{{ts('To view more debugging information, edit the URL and include "?angularDebug=1".')}}</p>
      </div>
    -->

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('full_name')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('Our lovely signup form')}}"
        size=60
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.title', title: ts('Public title')}">
      <input
        crm-ui-id="inlayForm.title"
        name="title"
        ng-model="inlay.config.title"
        class="crm-form-text"
        size=60
        placeholder="{{ts('e.g. Signup for our lovely emails')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.introHTML', title: ts('Intro text (optional)')}">
      <textarea
        crm-ui-id="inlayForm.introHTML"
        crm-ui-richtext
        name="introHTML"
        ng-model="inlay.config.introHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.submitButtonText', title: ts('Signup button text')}">
      <input
        crm-ui-id="inlayForm.submitButtonText"
        name="submitButtonText"
        ng-model="inlay.config.submitButtonText"
        class="crm-form-text"
        placeholder="{{ts('e.g. Sign up')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.smallprintHTML', title: ts('Text by submit button, e.g. explaining GDPR')}">
      <textarea
        crm-ui-id="inlayForm.smallprintHTML"
        crm-ui-richtext
        name="smallprintHTML"
        ng-model="inlay.config.smallprintHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.webThanksHTML', title: ts('Thank you text for website')}">
      <textarea
        crm-ui-id="inlayForm.webThanksHTML"
        crm-ui-richtext
        name="webThanksHTML"
        ng-model="inlay.config.webThanksHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-accordion="{title: ts('UX Tweaks'), collapsed: true}">
      <div crm-ui-field="{name: 'inlayForm.notBefore', title: ts('Wait how many seconds before allowing a pop-up')}">
        <input
          crm-ui-id="inlayForm.notBefore"
          name="notBefore"
          ng-model="inlay.config.notBefore"
          class="crm-form-text"
          type="number"
          min=0
          />
      </div>

      <div crm-ui-field="{name: 'inlayForm.minScrollPercent', title: ts('Scrolling threshold % before triggering pop-up')}">
        <input
          crm-ui-id="inlayForm.minScrollPercent"
          name="minScrollPercent"
          ng-model="inlay.config.minScrollPercent"
          class="crm-form-text"
          type="number"
          min=0
          max=100
          />
        <p class="description">Detect when a user has read enough of an article
          by how far they have scrolled as a % of document height. The pop-up
          is triggered only when this threshold has been reached, and
          <em>then</em> the user begins scrolling up.</p>
      </div>

      <div crm-ui-field="{name: 'inlayForm.css', title: ts('Insert custom CSS (danger!)')}">
        <textarea
          crm-ui-id="inlayForm.customCSS"
          name="customCSS"
          ng-model="inlay.config.customCSS"
          class="crm-form-text"
          ></textarea>
        <p class="description">Hints:
          <pre>
/* Title */
.inlay-signup-overlay h1 { }
/* Intro text */
.inlay-signup-overlay .intro { }
/* Smallprint text */
.inlay-signup-overlay .smallprint { }
/* button */
.inlay-signup-overlay .submit button.submit { background-color: #ffcc00; color: black; }
/* thanks text */
.inlay-signup-overlay .thanks { }
          </pre>
          Note that making mistakes here could mess up the style of your whole website.
        </p>
      </div>

      <div crm-ui-field="{name: 'inlayForm.notWhenUrlIs', title: ts('Disable pop-up when used on pages that match...')}">
        <textarea
          crm-ui-id="inlayForm.notWhenUrlIs"
          name="notWhenUrlIs"
          ng-model="inlay.config.notWhenUrlIs"
          class="crm-form-text"
          ></textarea>
        <p>Put one pattern per line. If any match the URL that the inlay is placed on, it will not popup. Patterns are Javascript regular expressions, without the /delimeters/.</p>
      </div>
    </div>

    <br />

    <div crm-ui-accordion="{title: ts('Processing'), collapsed: false}">

      <div crm-ui-field="{name: 'inlayForm.mailingGroup', title: ts('Mailing Group to add contact to')}">
        <select
          crm-ui-select="{placeholder:'Something',allowClear:true, dropdownAutoWidth: true}"
          ng-model="inlay.config.mailingGroup"
          name="mailingGroup"
          style="width: 100%"
          >
          <option ng-repeat="g in mailingGroups"
                  value="{{g.id}}">{{g.title}}</option>
        </select>
      </div>


      <div crm-ui-field="{name: 'inlayForm.welcomeEmailID', title: ts('Welcome email to send')}">
        <select
          crm-ui-select="{allowClear:true, dropdownAutoWidth: true}"
          name="welcomeEmailID"
          style="width: 100%"
          ng-model="inlay.config.welcomeEmailID"
          >
          <option value="">(Do not send an email)</option>
          <option ng-repeat="i in messageTpls" value="{{i.id}}">{{i.msg_title}} ({{i.msg_subject}})<option>
        </select>
      </div>
    </div>
    <!--
      <pre>{{ inlay.config | json }}</pre>
      <div crm-ui-accordion="{title: ts('Greeting')}">
        <p ng-show="$ctrl.myContact.first_name">{{ ts('Hello, %1.', {1: $ctrl.myContact.first_name}) }}</p>

        <p ng-show="!$ctrl.myContact.first_name">{{ ts('Hello, stranger.') }}</p>
      </div>

      <div crm-ui-accordion="{title: ts('About Me')}">
        <div class="crm-block">
          <div class="crm-group">
            <div crm-ui-field="{name: 'myForm.first_name', title: ts('Name'), help: hs('full_name')}">
              <input
              crm-ui-id="myForm.first_name"
              name="first_name"
              ng-model="$ctrl.myContact.first_name"
              class="crm-form-text"
              placeholder="{{ts('First')}}"
              />
              <input
              crm-ui-id="myForm.last_name"
              name="last_name"
              ng-model="$ctrl.myContact.last_name"
              class="crm-form-text"
              placeholder="{{ts('Last')}}"
              />
            </div>
          </div>
        </div>
        -->

        <div>
          <button ng-click="save()">{{ts('Save')}}</button>
        </div>
      </div>

  </form>

</div>
