<div class="crm-container">
  <h1 crm-page-title>{{ ts('Edit %1', {1: inlayType.name })}}</h1>

  <form name="inlayForm" crm-ui-id-scope>

    <!--
    <div class="help">
      <p>{{ts('To view more debugging information, edit the URL and include "?angularDebug=1".')}}</p>
    </div>
    -->

    <div crm-ui-field="{name: 'inlayForm.name', title: ts('Name'), help: hs('full_name')}">
      <input
        crm-ui-id="inlayForm.name"
        name="name"
        ng-model="inlay.name"
        class="crm-form-text"
        placeholder="{{ts('Our lovely signup form')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.smallprintHTML', title: ts('Text by submit button, e.g. explaining GDPR')}">
      <textarea
        crm-ui-id="inlayForm.smallprintHTML"
        crm-ui-richtext
        name="smallprintHTML"
        ng-model="inlay.config.smallprintHTML"
        class="crm-form-text"
        ></textarea>
    </div>

    <div crm-ui-field="{name: 'inlayForm.submitButtonText', title: ts('submit button text')}">
      <input
        crm-ui-id="inlayForm.submitButtonText"
        name="submitButtonText"
        ng-model="inlay.config.submitButtonText"
        class="crm-form-text"
        placeholder="{{ts('e.g. Sign up')}}"
        />
    </div>

    <div crm-ui-field="{name: 'inlayForm.webThanksHTML', title: ts('Thank you text for website')}">
      <textarea
        crm-ui-id="inlayForm.webThanksHTML"
        crm-ui-richtext
        name="webThanksHTML"
        ng-model="inlay.config.webThanksHTML"
        class="crm-form-text"
        ></textarea>
    </div>

      <div>
        <button ng-click="save()">{{ts('Save')}}</button>
      </div>
    </div>

  </form>

</div>
